<div class="flip-info-content justify-content-center p-4">
  <div class="flip-info-card">
    <div class="flip-front flex-wrap">
      <%= cl_image_tag(user.avatar, :width => 120, :height => 100, :crop => :thumb, :gravity => :face, class: "avatar-bordered") %>
        <p>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <%= user[:rating] %></p>
        <p class="boldname"><%= user[:name] %></p>
        <p><%= user.slots.first.price %>€/15min</p>
        <p>Next availablility:<strong> <%= user.slots.first.start_format %></strong></p>
    </div>
    <div class="flip-back justify-content-center p-4">
      <p><%= user[:bio] %></p>

        <h6>Topic Interests</h6>
        <% user.tags.each do |t| %>
        <div class ="tags">
        <%= t.name %>
        </div>
        <% end %>
      </div>
    </div>
  </div>

