<p>Availablity</p>

<%= week_calendar events: slots do |date, slots| %>
<%= date.day %>

  <% slots.each do |slot| %>
    <br>
    <%= slot.start_format_2 %>
    <br>
    <% if slot.meeting != nil %>
      <p class="btn-danger">Already booked</p>
    <% else %>
      <%= link_to "Book this slot", new_meeting_path, class: "btn-primary" %>
      <% if current_user == slot.teacher %>
        <%= link_to "Remove this slot", user_slot_path(@user, slot), :method => :delete %>
      <% end %>

    <% end %>
  <% end %>
<% end %>
<br>

<% if user == current_user %>
  <%= simple_form_for [@user, @slot] do |f| %>
    <%= f.input :start, input_html: {placeholder: "#{DateTime.now}"} %>
    <%= f.input :price, input_html: {placeholder: "$"} %>
    <%= f.submit "Add this slot to your profile", class: "btn btn-success" %>
  <% end %>
<% end %>
