<h1>Find someone you wanna practice a language</h1>

<div class="cards">
  <% @users.each do |user| %>
      <%= link_to user_path(user) do %>
      <div class="card-category">
        <%= user.name %>
        <%= user.native_language %>
        <%= user.bio %>
        <br>
        <%= cl_image_tag(user.avatar, :width => 100, :height => 100, :crop => :thumb, :gravity => :face) %>
      </div>
      <% end %>
  <% end %>
</div>
