<div>
  <h1 class="text-center">Find someone you wanna practice a language</h1>
    <div class="content">
      <div class="profile-cards">
        <% @users.each do |user| %>
          <%= link_to user_path(user) do %>
            <div class="profile-image">
              <%= cl_image_tag(user.avatar, :width => 120, :height => 100, :crop => :thumb, :gravity => :face, class: "avatar-bordered") %>
            </div>
            <div>
              <p><%= user[:rating] %>4.7 (31)</p>
            </div>
              <div>
                <h2><%= user[:name] %></h2>
                <p><%= user[:bio] %></p>
                <p><%= user[:native_language] %></p>
              </div>
              <div>
                <hr>
                <p>Next availiablity<%= user[:slots] %></p>
              </div>
            <% end %>
          <% end %>
      </div>
    </div>
</div>
