<div class="container-fluid index-page">
  <h2 class="text-center">Add or change a topic tag to refine your search</h2>
<!--   <h2 class="text-center">Find someone to practice a language with</h2> -->

    <div class="row justify-content-center">
        <%= form_tag users_path, method: :get do %>
          <%= hidden_field_tag :native_language, params[:native_language] %>
          <%= select_tag :tag_id, options_for_select(Tag.all.map {|x| [x.name,x.id]}), multiple: true, class: "select2 search", :prompt => "Choose a Topic" %>
          <%= submit_tag "search", class: "btn-talk-search" %>
        <% end %>
     <!--  </div> -->


      <div class="container-fluid p-4">
        <span class="talkers"><%= @users.count%> <%= @user[:native_language] %> talkers found</span>
        <div class="row justify-content-center">
          <!-- <div class="col-lg-12"> -->
            <% @users.each do |user| %>

              <% if user_signed_in? %>

                <%= link_to user_path(user) do %>
                  <%= render 'users/card_user', user: user %>
                <% end %>

              <% else %>

                <%= link_to user_path(user), data: {toggle: "modal", target: "#loginModal"} do %>
                  <%= render 'users/card_user', user: user %>
                <% end %>

              <% end %>

            <% end %>

          <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
</div>
