<div class="bg-profile">
  <!--   <div class="container"> -->
    <div class="content-block">


      <h3 class="text-center">Welcome to <%= @user.name %>'s page!</h3>
      <%= cl_image_tag(@user.avatar, :width => 100, :height => 100, :crop => :thumb, :gravity => :face, class: "avatar-bordered") %>

      if


  <!-- </div> -->


    <%= render 'users/simple_calendar', slots: @slots, slot: @slot, user: @user %>
    <% if @user == current_user %>
      <%= render 'slots/form', user: @user, slot: @slot %>
      <br>
      <p>These are your next classes :</p>
      <% @user.meetings_as_student.each do |meeting| %>
        <p><%= meeting.slot.start_format %></p>
        <p>with <%= meeting.slot.teacher.name %></p>
      <% end %>
    <% end %>

<h2>Any questions?</h2>
<!-- <div class="container"> -->
  <div class="row">
    <div class="col-sm-12 col-sm-offset-3">
      <div class="chat-header"><h4>#<%= @chat_room.name %></h4></div>
      <div class="messages">
        <% @chat_room.messages.each do |message| %>
          <%= render "messages/message", message: message, user_is_messages_author: message.user == current_user %>
        <% end %>
      </div>
      <div id="create-message">
        <%= simple_form_for [ @chat_room, Message.new ], remote: true, html: {autocomplete: "off" } do |f| %>
          <%= f.input :content, label: false %>
          <%= f.submit class: "btn btn-primary mt-2 btn-block" %>
        <% end %>
      </div>
    </div>
  </div>
<!-- </div> -->
    <% content_for :after_js do %>
      <script>
        // scrollLastMessageIntoView();
        App['chat_room_<%= @chat_room.id %>'] = App.cable.subscriptions.create({ channel: 'ChatRoomsChannel', chat_room_id: <%= @chat_room.id %> }, {
          received: (data) => {
            if (data.current_user_id !== <%= current_user.id %>) {
              const messagesContainer = document.querySelector('.messages');
              messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
              scrollLastMessageIntoView();
            }
          }
        })
      </script>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="content-block">
    <div id="reviews">
      <% @user.received_reviews.each do |r| %>
        <%= render 'reviews/show', review: r %>
      <% end %>
    </div>
  </div>

<%= render 'reviews/form', user: @user, review: @review %>
