<% content_for :show_sidebar do %>

  <div class="video-show">
    <div class="fix-profile-video">
      <div class="user-cards">
      </div>
        <h6 class="text-center video-text">Stuck?</h6>
        <h6 class="text-center video-text">Try one of our talktoo topics generated just for you</h6>

          <section class="section slider">

          <div class="section__entry section__entry--center">
          </div>

          <input type="radio" name="slider" id="slide-1" class="slider__radio">
          <input type="radio" name="slider" id="slide-2" class="slider__radio">
          <input type="radio" name="slider" id="slide-3" class="slider__radio" checked>
          <input type="radio" name="slider" id="slide-4" class="slider__radio">
          <input type="radio" name="slider" id="slide-5" class="slider__radio">

          <div class="slider__holder">

            <label for="slide-1" class="slider__item slider__item--1 card">
              <div class="slider__item-content">

                <img src="https://images.unsplash.com/photo-1522771739844-6a9f6d5f14af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" alt=" hotel room">
                  <h3 class="heading-3">Travel Accomodation</h3>
                  <p class="slider__item-text serif">Where do you like to stay while traveling? Do you prefer to book a hotel, or rent a shared home or flat? Have you ever stayed in a hostel? <!-- What was it like? Have you ever hosted tourists in your home? --></p>
              </div>
            </label>

            <label for="slide-2" class="slider__item slider__item--2 card">
              <div class="slider__item-content">
                <img src="https://images.unsplash.com/photo-1543169055-23de73a4eb13?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80" alt=" hotel room">
                <h3 class="heading-3">Transportation</h3>
                <p class="slider__item-text serif">From crossing oceans and continents by freighter ship or first class in a jet plane, or just getting around town in a taxi or on a bike - how do you like to travel? </p>
              </div>
            </label>
            <label for="slide-3" class="slider__item slider__item--3 card">
              <div class="slider__item-content">
                <img src="https://images.unsplash.com/photo-1519904981063-b0cf448d479e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt=" hotel room">
                <h3 class="heading-3">Activities</h3>
                <p class="slider__item-text serif">Many travelers seek out destinations that are particularly suited to specific activities, such as scuba diving or rock climbing. <!-- What activities do you or others you know partake in? Is there anything you'd like to try. --></p>

              </div>
            </label>

            <label for="slide-4" class="slider__item slider__item--4 card">
              <div class="slider__item-content">
                <img src="https://images.unsplash.com/photo-1533625655932-73abd53515b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt=" hotel room">
                <h3 class="heading-3">Safety and Concerns</h3>
                <p class="slider__item-text serif">There are many things that you can do to ensure that you stay safe while traveling. What do you do to stay safe? <!-- Is safety a concern for you while traveling? --></p>

              </div>
            </label>

            <label for="slide-5" class="slider__item slider__item--5 card">
              <div class="slider__item-content">
                <img src="https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="dining">
                <h3 class="heading-3">Food and drink</h3>
                <p class="slider__item-text serif">Why not try some local specialties when travelling? Do you like to eat local while traveling, or do you stick to what you know? <!-- What was the best meal you've had abroad?  --></p>

              </div>
              </label>
          </div>
     </section>
  </div>
</div>


<% end %>


<div class="video justify-content-center p-4 m-4">
  <div class="container justify-content-center">
    <div class="header">
      <h1 class="text-center p-4 m-4">Meeting between <%= @meeting.student.name %> and <%= @meeting.slot.teacher.name %> </h1>
      <div class="justify-content-center p-4 m-4">
        <div class="v-cards row justify-content-center">


         <%= cl_image_tag(@meeting.student.avatar, :width => 120, :height => 100, :crop => :thumb, :gravity => :face, class: "avatar-bordered-v") %>

          <%= link_to user_path(@meeting.slot.teacher, active_tab: "Reviews") do %>

          <%=  cl_image_tag(@meeting.slot.teacher.avatar, :width => 120, :height => 100, :crop => :thumb, :gravity => :face, class: "avatar-bordered-v") %>

          <% end %>
        </div>

      </div>
    </div>

    <div class="container-video-chatbox">
      <div class="tokebox-video">
      <iframe src="https://tokbox.com/embed/embed/ot-embed.js?embedId=a672ebf5-9243-4f22-9a44-55a82a9cc61e&room=<%= @video_id %>&iframe=true" width=700 height=560 scrolling="auto" allow="microphone; camera" ></iframe>
      </div>
      <div class="chatroom-video">
        <div id="Messages" class="chatroom-messages">
         <!--  <div class="row">
            <div class="col-sm-12 col-sm-offset-3"> -->
              <!-- <div class="chat-header"><h4>#<%#= @chat_room.name %></h4></div> -->
              <h3 class="text-center chat-header">Chat</h3>
              <div class="messages">
                <% @chat_room.messages.each do |message| %>
                  <%= render "messages/message", message: message, user_is_messages_author: message.user == current_user %>
                <% end %>
              </div>
              <div id="create-message">
                <%= simple_form_for [ @chat_room, Message.new ], remote: true, html: {autocomplete: "off" } do |f| %>
                <%= f.input :content, label: false %>
                <%= f.submit class: "btn btn-primary mt-2 btn-block" %>
                <% end %>
              </div>
            <!-- </div>
          </div> -->
          <% content_for :after_js do %>
            <script>
              // scrollLastMessageIntoView();
              App['chat_room_<%= @chat_room.id %>'] = App.cable.subscriptions.create({ channel: 'ChatRoomsChannel', chat_room_id: <%= @chat_room.id %> }, {
                received: (data) => {
                  if (data.current_user_id !== <%= current_user.id %>) {
                    const messagesContainer = document.querySelector('.messages');
                    messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
                    scrollLastMessageIntoView();
                  }
                }
              })
              </script>
            <% end %>
          </div>
        </div>
      </div>
      <%#= render "ice_breaker" %>
    </div>
  </div>
</div>
