<div class="bg-home">
  <div class="bg-slant">
  </div>
  <div class="banner">
    <div class="container">
      <div>
       <h1>Helping busy professionals practice foreign languages</h1>
       <p>Talktoo connects you with native speakers who are passionate and knowledgeable about the same things you are. Talk one-on-one over live video anytime, anywhere.</p>
      </div>
        <%= form_tag(users_path, method: :get) do %>
          <div class="search-form-control form-group">
            <%= text_field_tag :native_language,
                                params[:native_language],
                                class: "form-control",
                                placeholder:'Which language do you want to practice?'%>
            <%= submit_tag "start", class: "btn-talk-home" %>
          </div>
        <% end %>
      </div>
    </div>
  <div class="human1"><%= image_tag "humans_example.png", width: 300 %></div>
  <div class="bg-slant">
  </div>
</div>




<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>

<div>
  <div class="info-content mt-4 p-3">

    <a class="info-card info-card-1">
      <div class="front" style="background-image:(standing-9.png)">
        <h2>Talk to your peers</h2>
      </div>
      <div class="back">
        <div>
          <p>Practice speaking a foreign language with a native speaker who shares your interest in business, politics or the latest pop culture.</p>
        </div>
      </div>
    </a>

    <a class="info-card info-card-2">
      <div class="front" style="background-image:">
        <h2>Customize your conversations</h2>
      </div>
      <div class="back">
        <div>
          <p>Have conversations that matter to you. Specify topic preferences and get relevant conversation prompts.</p>
        </div>
      </div>
    </a>

    <a class="info-card info-card-3">
      <div class="front" style="background-image:">
        <h2>Go at your own pace</h2>
      </div>
      <div class="back">
        <div>
          <p>Sessions are only 15-minutes long. Take as many or as few as you want!</p>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="content-block">
  <h2 class="text-center mt-4 p-3">How it works</h2>
  <p class="description text-center">You already know how to speak a foreign language. We're here to help you practice it.</p>
  <p>Choose a language and a topic to find native speakers whose interests and specialization match yours!</p>
  <p>View your preferred conversation partners’ calendars and book the time slots that suit your schedule.</p>
  <p>Message your conversation partner in advance to help him or her get ready for your session.</p>
  <p>Join your video call on the confirmed date and time and prepare to take your foreign language skills to the next level!</p>
</div>



<div class="mx-auto mt-3 p-3">

  <h2 class="heading text-center p-3">What are people saying about us?</h2>
  <div id="carouselExampleControls" class="carousel slide justify-content-center" data-ride="carousel">
    <div class="carousel-inner justify-content-center">
      <div class="carousel-item active">
        <div class="card-container text-center p-4 mt-3 d-flex justify-content-around">
          <div class="block justify-content-center text-center">
            <h3 class="text-center">Great website !!</h3>
            <p class="text-center">Super easy to use !</p>
            <p class="text-center">Max - Lyon</p>
            <p class="card-trip-user"> <%= image_tag "https://images.unsplash.com/photo-1554453433-9af917b6f571?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=80&q=50", :width => 40, :height => 40, :crop => :thumb, :gravity => :face, class: "avatar-bordered" %></p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="card-container text-center p-4 mt-3 d-flex justify-content-around">
          <div class="block justify-content-center text-center">
            <h2 class="text-center">Great !</h2>
            <p class="text-center">Super easy to use !</p>
            <p class="text-center">Elle - Lyon</p>
            <p class="card-trip-user"> <%= image_tag "https://images.unsplash.com/photo-1493732839258-ca76fb5d09ad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=80&q=80", :width => 40, :height => 40, :crop => :thumb, :gravity => :face, class: "card-trip-user avatar-bordered" %></p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="card-container text-center p-4 mt-3 d-flex justify-content-around">
          <div class="block justify-content-center text-center">
            <h3 class="text-center">So Happy</h3>
            <p class="text-center">Super easy to use !</p>
            <p class="text-center">Cassie - Lyon</p>
            <p class="card-trip-user"> <%= image_tag "https://images.unsplash.com/photo-1542080681-b52d382432af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=80&q=80", :width => 40, :height => 40, :crop => :thumb, :gravity => :face, class: "card-trip-user avatar-bordered" %></p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </div>
        </div>
      </div>

      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
