
<div class="bg-payment3">

<div class="justify-content-center text-center p-4">
<div class="content-payment">

<h2 class="p-4 m-4">Check your order</h2>
<p>If everything looks right, proceed to payment to confirm your booking.</p>

<p>Practice <%= @meeting.slot.teacher.native_language %> with <%= @meeting.slot.teacher.name %></p>
<p>Talk time: <%= @meeting.slot.start_format %></p>
<p>Details for <%= @meeting.slot.teacher.name %>: <%= @meeting.topic %></p>


<%= form_tag meeting_payments_path do %>
  <article>
    <label class="amount">
      <span>Amount: <%= humanized_money_with_symbol(@meeting.price) %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>"
    data-name="talktoo"
    data-email="<%= current_user.email %>"
    data-description="Practice <%= @meeting.slot.teacher.native_language %> with <%= @meeting.slot.teacher.name %>"
    data-amount="<%= @meeting.price_cents %>"
    data-currency="<%= @meeting.price.currency %>"></script>
<% end %>
</div>
</div>
</div>
